<div class="container">
    <diV class="row m-3">
        <div class="col-3 text-primary font-weight-bold">Up: </div>
        <div class="col-9 text-secondary">{{ data.isup }}</div>
    </diV>
    <diV class="row m-3">
        <div class="col-3 text-primary font-weight-bold">Duplex:</div>
        <div class="col-9 text-secondary">{{ data.duplex.name }}</div>
    </diV>
    <diV class="row m-3">
        <div class="col-3 text-primary font-weight-bold">Speed:</div>
        <div class="col-9 text-secondary">{{ data.speed }}</div>
    </diV>
    <diV class="row m-3">
        <div class="col-3 text-primary font-weight-bold">MTU:</div>
        <div class="col-9 text-secondary">{{ data.mtu }}</div>
    </diV>
    <diV class="row m-3">
        <div class="col-3 text-primary font-weight-bold">Flags:</div>
        <div class="col-9 text-secondary">{{ data.flags }}</div>
    </diV>
</div>
