<div class="modal fade" id="generic_modal" tabindex="-1" aria-labelledby="generic_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable {{ modal_size }}">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="generic_modal_label">About {% if data.project_name %}{{ data.project_name }}{% endif %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    {% if data.project_description %}
                    <div class="mb-4">
                        {{ data.project_description|safe }}
                    </div>
                    {% endif %}
                    {% if data.uptime %}
                    <div class="mb-4">
                        <span class="fw-bold">service up-time:</span><br/> {{ data.uptime }}
                    </div>
                    {% endif %}             
                    {% if data.project_version %}
                    <div class="mb-4">
                        <span class="fw-bold">version:</span><br/> {{ data.project_version }}
                    </div>
                    {% endif %}
                    {% if data.project_source %}
                    <div class="mb-4">
                        <span class="fw-bold">source:</span><br/> <a href="{{ data.project_source }}" target="_blank" class="hvr-grow">{{ data.project_source }}</a>
                    </div>
                    {% endif %}
                    {% for key, value in extra_data.items %}
                    <div class="mb-4">
                        <span class="fw-bold">{{ key }}</span><br/> {{ value|safe }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> 
