<div class="modal-dialog modal-dialog-scrollable {{ modal_size }} ">
    {% if form %}
    {{ csrf_token }}
    <form hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'
          class="modal-content">
    {% else %}
    <div class="modal-content">
    {% endif %}
        <div class="modal-header">
            <div class="modal-title" id="generic_modal_label">
                {% if modal_title %}
                <span class="h4 text-primary fw-bold">
                {{ modal_title|safe }}{% if modal_subtitle %}:{% endif %}
                </span>
                {% if modal_subtitle %}
                <span class="h6 text-secondary fst-italic ms-2">
                    {{ modal_subtitle|safe }}
                </span>
                {% endif %}
                {% endif %}
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        {% if form %}
            {% if form_template %}
                {% include form_template %}
            {% else %}

                {% for field in form.visible_fields %}
                    <div class="form-group mx-2 mt-2 mb-3">
                        <div class="col-sm-12 fw-bold text-primary">
                            <span id="id_{{ field.name }}_required" class="text-secondary">{% if field.field.required %}* {% endif %}</span>{{ field.label_tag }}
                        </div>
                        <div class="col-sm-12">
                            {{ field }}
                            {% comment %} <div class="valid-feedback" id="id_{{field.name}}_valid"></div> {% endcomment %}
                            {% comment %} <div class="invalid-feedback" id="id_{{field.name}}_invalid">this is a test</div> {% endcomment %}
                            <div id="id_{{field.name}}_invalid" class="small text-danger">{{field.errors}}</div>
                        </div>
                    </div>
                {% endfor %}
                {% for field in form.hidden_fields %}
                    {{ field }}
                {% endfor %}

            {% endif %}
        {% else %}
            {% if modal_body %}{{ modal_body|safe }}{% endif %}
        {% endif %}                
        </div>
        <div class="modal-footer">
            {% if modal_button_close %}
            <button type="button" class="btn btn-light" data-bs-dismiss="modal">{{ modal_button_close }}</button>
            {% endif %}
            {% if modal_button_submit %}
            <button hx-post="{% if hx_post %}{{ hx_post }}{% else %}{{ request.path }}{% endif %}" {% if show_messages %}hx-target="#message-container" hx-swap="afterend"{% endif %}
            type="button" class="btn btn-primary" data-bs-dismiss="modal">{{ modal_button_submit }}</button>
            {% endif %}
        </div>
    {% if form %}
    </form>
    {% else %}
    </div>
    {% endif %}
</div>
