<section>
    {% include 'handyhelpers/htmx/bs5/content_title.htm' %}
    
    <div class="container-fluid px-5 py-2 animated fadeIn" style="animation-delay: .2s;">
        <div class="sortable-table-wrapper" data-pagination-size="12">
            <div class="d-flex justify-content-end mb-3">
                {% if queryset %}<span title="toggle pagination"><i class="ms-1 pagination-toggle fs-5 fa-solid fa-square-caret-down"></i></span>{% endif %}
            </div>

            {% if table %}{% include table %}{% endif %}

            {% if queryset %}
            <nav class="sortable-table-nav">
                <ul class="pagination justify-content-end">{% comment %}Pagination will be inserted here by JavaScript{% endcomment %}</ul>
            </nav>
            {% endif %}
        </div>
    </div>
</section>
