<section>
    <header class="m-5 animated fadeIn">
        <div class="headline text-center">
            <div class="container">
                <div class="h1 text-primary fw-bold mb-3">{{ title|safe }}</div>
                <div class="h5 text-secondary">{{ subtitle|safe }}</div>
            </div>
        </div>
    </header>

    <div class="zoom-group-flex-container animated fadeIn" style="animation-delay: .25s;" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'>
        {% for item in item_list %}
            {% if item.modal %}
            <a href="#" class="card zoom-card zoom-index-card"
                hx-get="{{ item.url }}" hx-target="#modal_wrapper" data-bs-toggle="modal" data-bs-target="#modal_wrapper">
                <div class="icon">{{ item.icon|safe }}</div>
                <div class="title">{{ item.title }}</div>
                <div class="description">{{ item.description }}</div>
            </a>
            {% else %}
            <a href="#" class="card zoom-card zoom-index-card"
                {% if item.method == 'post' %}hx-post{% else %}hx-get{% endif %}="{{ item.url }}"
                {% if item.method != 'post' %}hx-target="{% if item.target %}{{ item.target }}{% else %}#body_main{% endif %}"{% endif %}>
                <div class="icon">{{ item.icon|safe }}</div>
                <div class="title">{{ item.title }}</div>
                <div class="description">{{ item.description }}</div>
            </a>
            {% endif %}
        {% endfor%}
    </div>
</section>
