{%+ if '-list' in route.name  +%}
    {% include 'viewset/viewset_no_auth_list.jinja' %}
{%- elif '-detail' in route.name +%}
    {% include 'viewset/viewset_no_auth_detail.jinja' %}
{%- else +%}
    {% include 'viewset/viewset_no_auth_action.jinja' %}
{%- endif -%}