{% extends base_template|default:"base.htm" %}
{% load static %}
{% load handyhelper_tags %}

{% block local_head %}
    <style>
        .card .card-header {
            color: var(--primary);
            font-weight: bold;
            font-size: 1.25rem;
        }
        .key {
            color: var(--primary);
            font-weight: bold;
            margin-right: .25rem
        }
        .value {
            color: var(--secondary);
            margin-left: .25rem
        }
        .titlecard-container {
            display: flex;
            gap: 2rem;
            flex-wrap: wrap;
            align-content: center;
            align-items: center;
            justify-content: center;
        }
        .titlecard-container > * {
            flex: 1;
        }
        .titlecard {
            height: 6rem;
            min-width: 148px;
            max-width: 475;
            cursor: pointer;
        }
        .titlecard .icon {
            color: var(--primary);
            font-size: 2.5rem;
            text-align: left;
            margin-top: -.5rem;
        }
        .titlecard .stat {
            color: var(--primary);
            font-size: 2rem;
            font-weight: bold;
            text-align: center;
            margin-top: -.5rem;
        }
        .titlecard .description {
            color: var(--secondary);
            font-weight: bold;
            font-size: .8rem;
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
<section class="m-5 animated fadeIn" style="animation-delay: .15s;">
    {% if title or subtitle %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="text-primary text-center h1 mb-2"><b>{{ title }}</b></div>
                <div class="text-secondary text-center h5 mb-2">{{ subtitle|safe }}</div>
                {% include 'handyhelpers/snippets/processes_results_timestamp.htm' %}
            </div>
        </div>
    </div>
    {% endif %}
</section>

<section class="mb-5 animated fadeIn" style="animation-delay: .25s;">
    <div id="id_title_card_wrapper" class="container-fluid mt-5">
        <div class="titlecard-container">
            <div class="card titlecard shadow hvr-grow"
                 hx-get="{% url 'handyhelpers:get_host_processes' %}?source=card&status=running" hx-target='#id_process_list_container'
                 onclick="document.getElementById('form_{{ filter_form.modal_name }}').reset()">
                <div class="card-body">
                    <div class="stat">{{ counts.running }}</div>
                    <div class="description">Running</div>
                </div>
            </div>
            <div class="card titlecard shadow hvr-grow"
                 hx-get="{% url 'handyhelpers:get_host_processes' %}?source=card&status=idle" hx-target='#id_process_list_container'
                 onclick="document.getElementById('form_{{ filter_form.modal_name }}').reset()">
                <div class="card-body">
                    <div class="stat">{{ counts.idle }}</div>
                    <div class="description">Idle</div>
                </div>
            </div>
            <div class="card titlecard shadow hvr-grow"
                 hx-get="{% url 'handyhelpers:get_host_processes' %}?source=card&status=sleeping" hx-target='#id_process_list_container'
                 onclick="document.getElementById('form_{{ filter_form.modal_name }}').reset()">
                <div class="card-body">
                    <div class="stat">{{ counts.sleeping }}</div>
                    <div class="description">Sleeping</div>
                </div>
            </div>
            <div class="card titlecard shadow hvr-grow"
                 hx-get="{% url 'handyhelpers:get_host_processes' %}?source=card&status=stopped" hx-target='#id_process_list_container'
                 onclick="document.getElementById('form_{{ filter_form.modal_name }}').reset()">
                <div class="card-body">
                    <div class="stat">{{ counts.stopped }}</div>
                    <div class="description">Stopped</div>
                </div>
            </div>
            <div class="card titlecard shadow hvr-grow"
                 hx-get="{% url 'handyhelpers:get_host_processes' %}?source=card&status=zombie" hx-target='#id_process_list_container'
                 onclick="document.getElementById('form_{{ filter_form.modal_name }}').reset()">
                <div class="card-body">
                    <div class="stat">{{ counts.zombie }}</div>
                    <div class="description">Zombie</div>
                </div>
            </div>
            <div class="card titlecard shadow hvr-grow"
                 hx-get="{% url 'handyhelpers:get_host_processes' %}?source=card&status=dead" hx-target='#id_process_list_container'
                 onclick="document.getElementById('form_{{ filter_form.modal_name }}').reset()">
                <div class="card-body">
                    <div class="stat">{{ counts.dead }}</div>
                    <div class="description">Dead</div>
                </div>
            </div>
        </div>
    </div>
    <br/>
</section>

<section class="mb-5 animated fadeIn" style="animation-delay: .35s;">
    <div class="container-fluid mt-5" id="id_process_list_container">
        {% include 'handyhelpers/snippets/host_process_card.htm' %}
    </div>
</section>

{% include 'handyhelpers/component/bs5/modals.htm' %}
{% with filter_form as form_data %}
    {% include 'handyhelpers/generic/bs5/generic_modal_form_htmx.htm' %}
{% endwith %}

{% endblock content %}
